# App Config
PORT=3000
NODE_ENV=development

# Telegram Config
TELEGRAM_BOT_TOKEN=seu_token_aqui
TELEGRAM_BOT_NAME=seu_nome_do_bot_aqui

# Database Config (PostgreSQL)
POSTGRES_USER=personal_finance_user
POSTGRES_PASSWORD=personal_finance_password
POSTGRES_DB=personal_finance
DB_HOST=db
DB_PORT=5432

# Prisma Database URL
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=public

# Redis Config
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}
